* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poiret One', cursive;
    line-height: 1.7;
    padding: .8rem;
}
/* BACKGROUND IMAGE HEADER */
.header {
    background-image: linear-gradient(to right bottom, rgba(240, 240, 240, 0.5), rgba(233, 189, 180, 0.5)), url(../img/baking.jpg);
    height: 100vh;
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 87%, 0 100%);
}

/* HEADER & NAVBAR */
.mainheader1 {
    top: 50%;
    left: 40%;
    position: absolute;
    color: darkred;
    font-family: 'Special Elite', cursive;
    font-size: 5rem;
    box-shadow: 2px 2px black;
    padding: 1rem;
}


.lists {
    left: 50%;
    transform: translate(-50%);
    position: absolute;
}

.lists li {
    float: left;
}

li {
    padding-top: 4rem;
    padding-left: 2rem;
    list-style-type: none;
    font-family: 'Poiret One', cursive;
    font-size: 2rem;
    font-weight: bolder;
}

li:hover {
    background-color: darkred;
    color: white;
    margin-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
    cursor: pointer;
}

/* ABOUT SECTION */

.aboutheader {
    font-size: 4rem;
    font-family: 'Poiret One', cursive;
    padding-top: 3rem;
    text-align: center;
}

.aboutHR {
    margin-right: 4rem;
    margin-left: 4rem;
    
}

.info {
    text-align: center;
    padding: 1.5rem 4rem 1.5rem 4rem;
    font-size: 1.5rem;
    margin-bottom: 3rem;
}

.info::first-letter {
    font-weight: bolder;
    color: darkred;
}




/* BAKING RECIPES */

.bakingsec {
    background-image: linear-gradient(to right bottom, rgba(240, 240, 240, 0.5), rgba(233, 189, 180, 0.5)), url(../img/bakingessentials.jpg);
    height: 100vh;
    background-size: cover;
    background-position: top;
}

.bakingheader {
    text-align: center;
    font-size: 4rem;
    padding-top: 2.5rem;
    padding-bottom: 2rem;
}

.card-img-top {
    height: 300px;
}
/* COOKING RECIPES */

.cookingsec {
    height: 100vh;
}

.cookingheader {
    text-align: center;
    font-size: 4rem;
    padding-top: 2.5rem;
    padding-bottom: 2rem;
}

/* FOOTER */

.footer {
    height: 35vh;
    background-image: linear-gradient(to right bottom, rgba(240, 240, 240, 0.5), rgba(233, 189, 180, 0.5)), url(../img/baking.jpg);
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 17%, 100% 0, 100% 100%, 0 100%);
}

.footerheader {
    text-align: center;
    font-size: 4rem;
    font-weight: bolder;
    padding-top: 4rem;
}
