* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poiret One', cursive;
    line-height: 1.7;
}
/* BACKGROUND IMAGE HEADER */
.header {
    background-image: url(../img/baking.jpg);
    height: 100vh;
    background-size: cover;
}

/* HEADER & NAVBAR */
.mainheader1 {
    top: 50%;
    left: 40%;
    position: absolute;
    color: darkred;
    font-family: 'Special Elite', cursive;
    font-size: 5rem;
    box-shadow: 2px 2px black;
    padding: 1rem;
}


.lists {
    left: 28%;
    position: absolute;
}

.lists li {
    float: left;
}

li {
    padding-top: 2rem;
    padding-left: 2rem;
    list-style-type: none;
    font-family: 'Poiret One', cursive;
    font-size: 2rem;
    font-weight: bolder;
}

li:hover {
    background-color: darkred;
    color: white;
    margin-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
    cursor: pointer;
}

/* ABOUT SECTION */

.aboutheader {
    font-size: 4rem;
    font-family: 'Poiret One', cursive;
    padding-top: 3rem;
    text-align: center;
}

.info {
    text-align: center;
    padding: 1.5rem 2rem 1.5rem 2rem;
    font-size: 1.5rem;
}





/* BACKGROUND IMAGE HEADER */
